.container {
    background-image: url('../assets/rectanguloVerticalRecurso\ 2@4x.png');
    background-size: cover;
    width: 370px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
    left: -10px;
}

.titulo {
    position: relative;
    top: -81px;
    left: -71px;
}

h6 {
    margin: 0px;
}

.contenido {
    position: relative;
    max-width: 230px;
    top: -50px;
    left: 10px;
    font-size: larger;
}

.icon {
    max-width: 24px;
    position: relative;
    left: -66px;
    top: 30px;
}

.textoComoLlegar {
    padding-bottom: 15px;
}

.direccion {
    padding-bottom: 10px;
}
